/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "ssf4";
  src: url("../fonts/SSF4 ABUKET.ttf"); }
body {
  background-color: #fff;
  position: relative; }
  body div.bg_overlay {
    content: "";
    background: url("../images/Ryu-Smoky-Background-3840x2400.jpg") no-repeat center center;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.45;
    z-index: -5; }
  body .title-top {
    font-family: "ssf4";
    font-size: 1.55rem;
    color: #a21010;
    max-width: 75%;
    margin: 20px auto; }
  body .main-container {
    max-width: 100%;
    margin: auto;
    z-index: 5; }
    body .main-container #character_container {
      text-align: center;
      margin: auto;
      max-width: 100%;
      padding: 30px;
      border-radius: 4px; }
      body .main-container #character_container li {
        display: inline-block;
        margin: 10px 5px 10px 5px;
        cursor: pointer; }
        body .main-container #character_container li div.fighter_bg {
          height: 300px;
          width: 200px;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center; }
        body .main-container #character_container li div.f_name {
          padding: 15px;
          text-align: center;
          font-family: "ssf4";
          border-bottom: solid 2px #c76d2c;
          color: #333;
          transition: border-bottom-color 0.4s ease, color 0.4s ease; }
      body .main-container #character_container li:hover div.f_name {
        color: #a21010;
        border-bottom-color: #a21010; }
    body .main-container #ken_wins {
      padding: 65px 20px 65px 20px;
      background: url("../images/ken_wins_edited.png") no-repeat center center, url("../images/ken-bg.png") no-repeat center center;
      background-size: auto, auto;
      max-width: 100%;
      margin: auto;
      transition: background-size 0.35s;
      text-align: center; }
  body #modal-overlay {
    background-color: #444;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    opacity: 0.55; }
  body #modal, body #winner_modal {
    background-color: white;
    text-align: center;
    -moz-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.16);
    transition: height 0.4s ease-out;
    padding-bottom: 50px;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 9999;
    overflow-y: auto;
    overflow-x: hidden; }
    body #modal .pick_char,
    body #modal #close-menu, body #winner_modal .pick_char,
    body #winner_modal #close-menu {
      font-size: 1.2rem;
      font-family: "ssf4";
      position: relative;
      margin-top: 40px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
      transition: color 0.3s;
      background-color: transparent;
      display: block;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto; }
    body #modal .pick_char, body #winner_modal .pick_char {
      color: gray; }
    body #modal #close-menu, body #winner_modal #close-menu {
      color: #a21010; }
    body #modal #close-menu:hover, body #winner_modal #close-menu:hover {
      color: #c76d2c; }
  body #modal #fighter_name {
    font-family: "ssf4";
    color: crimson;
    font-size: 1.45rem;
    max-width: 65%;
    margin: auto;
    text-align: left; }
  body #modal img {
    max-width: 400px;
    display: inline-block; }
  body #modal .fighter_stats {
    display: inline-block; }
    body #modal .fighter_stats .f_detail {
      padding: 0px 0px 10px 0px;
      font-family: "Roboto";
      text-align: left; }
      body #modal .fighter_stats .f_detail strong {
        color: #a21010;
        font-weight: bolder;
        margin-right: 20px; }
    body #modal .fighter_stats .f_measurements {
      margin-top: 25px;
      font-family: "Roboto";
      font-size: 0.80rem;
      color: gray;
      font-weight: bolder; }
      body #modal .fighter_stats .f_measurements span.l {
        margin-right: 20px; }
    body #modal .fighter_stats div.bar_graph {
      margin-top: 30px;
      max-width: 600px;
      border-top: solid 2px gray;
      border-bottom: solid 2px gray;
      border-left: solid thin #CDCDCD;
      border-right: solid thin #CDCDCD;
      text-align: left;
      position: relative; }
      body #modal .fighter_stats div.bar_graph .bar {
        background-color: #a21010;
        padding: 15px;
        margin-top: 15px;
        display: block;
        font-family: "Roboto";
        color: #FFF;
        font-size: 0.75rem;
        letter-spacing: 0.95px;
        font-weight: bolder;
        text-align: right; }
      body #modal .fighter_stats div.bar_graph .p_bar:after {
        content: "Power";
        top: 30px; }
      body #modal .fighter_stats div.bar_graph .h_bar:after {
        content: "Health";
        top: 85px; }
      body #modal .fighter_stats div.bar_graph .m_bar:after {
        content: "Mobility";
        top: 145px; }
      body #modal .fighter_stats div.bar_graph .t_bar:after {
        content: "Technique";
        top: 200px; }
      body #modal .fighter_stats div.bar_graph .r_bar {
        margin-bottom: 15px; }
      body #modal .fighter_stats div.bar_graph .r_bar:after {
        content: "Range";
        top: 258px; }
      body #modal .fighter_stats div.bar_graph .p_bar:after, body #modal .fighter_stats div.bar_graph .m_bar:after, body #modal .fighter_stats div.bar_graph .h_bar:after,
      body #modal .fighter_stats div.bar_graph .t_bar:after, body #modal .fighter_stats div.bar_graph .r_bar:after {
        position: absolute;
        left: 105%;
        color: #333; }
  body #modal img, body #modal .fighter_stats {
    vertical-align: top;
    margin: 20px; }
  body .bottom-container {
    background-color: #fff;
    padding: 15px 15px 30px 15px;
    position: fixed;
    right: 0;
    top: 5%;
    border: solid thin #CDCDCD;
    border-left: solid 2px #a21010;
    width: 300px;
    cursor: pointer;
    z-index: 99999;
    transition: right 0.4s ease; }
    body .bottom-container div {
      margin: 10px;
      font-family: "Roboto";
      letter-spacing: 1.1px;
      font-weight: bolder;
      color: #c76d2c; }
      body .bottom-container div strong {
        color: #C0C0C0;
        font-size: 11pt; }
    body .bottom-container span.rotated {
      margin: 5px;
      font-family: 'ssf4';
      transition: color 0.4s ease;
      text-indent: 0px;
      float: left;
      margin-left: -30px;
      margin-top: 33px;
      transform: rotate(90DEG); }
  body .bottom-container:hover {
    border-left-color: #c76d2c; }
    body .bottom-container:hover span {
      color: #c76d2c; }
  body #start_round {
    background-color: white;
    padding: 25px 15px 15px 15px;
    position: fixed;
    right: 0;
    bottom: 15%;
    border: solid thin #CDCDCD;
    border-left: solid 2px #a21010;
    color: #a21010;
    font-size: 13pt;
    font-family: 'ssf4';
    cursor: pointer;
    z-index: 9999;
    display: none; }
  body #start_round:hover {
    transition: border-left-color 0.55s ease, color 0.45s ease;
    border-left-color: #c76d2c;
    color: #c76d2c; }
  body span.close-btn {
    color: #a21010;
    font-size: 13pt; }
  body .bottom-logo {
    background: url("../images/logo-small.png") no-repeat center center;
    background-size: contain;
    max-width: 240.4px;
    height: 178.8px;
    display: block;
    margin: 100px auto 0px auto;
    opacity: 0.4;
    position: relative;
    z-index: 3;
    transition: opacity 0.7s ease-in; }
  body .bottom-logo:hover {
    opacity: 1; }

/* STICKY FOOTER  */
* {
  margin: 0; }

html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -85px; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  height: 55px;
  padding: 15px; }

.site-footer {
  color: #333;
  font-weight: bolder;
  font-size: 0.8rem;
  text-align: center;
  font-family: "Roboto";
  letter-spacing: 1.2px; }

/*# sourceMappingURL=main.css.map */
